.maingrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

}

.mainspan-col-4 {
  grid-column: span 4 / auto;

}


.mainspan-col-3 {
  grid-column: span 3 / auto;
}
.jumbotron {
  background-color: orange

}

