<div class="container">
  <div class="row">
    <app-quote-form></app-quote-form>
  </div>
</div>

<ul>
  <h3>Quotes posted</h3>
  <div *ngFor='let quote of quotes;let i = index'>
      <li id="{{i}}" appHighlight>{{quote.name}} --[Posted on {{quote.postedDate|date}}]
      <button class="btn btn-primary"(click)='toggleDetails(i)'>Toggle Details</button>
      <button>up-vote</button>
      <button>down-vote</button>

      </li>
  <app-quote-details *ngIf="quote.showDetails" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
  <hr>
  </div>
</ul>


