<div class="container-fluid">
  <div class="row">
    <form #quoteForm='ngForm'>
      <!-- Name Quote Name form-->
      <div class="form-group">

        <label for="name">Quote</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
        <div [hidden]="name.valid || name.prestine" class="alert alert-danger">
          <p>Quote is required</p>

        </div>
        <!--Testing to see if we get data-->
        Display {{newQuote.name}}

      </div>

      <!-- Quote Details  input-->
      <div class="form-group">

        <label for ="details">Details</label>
        <textarea class="form-control" id="details" rows="5" [(ngModel)]="newQuote.details" name="details" #details="ngModel" required></textarea>
        <div [hidden]="details.valid || details.prestine" class="alert alert-danger">
          <p>Quite details are required</p>

        </div>
        <!--Testing to see if we get data-->
        Display {{newQuote.details}}
      </div>

      <!-- Date Input -->
      <div class="form-group">

        <label for="postedDate">Posted on</label>
        <input type='date' id="postedDate" [(ngModel)]="newQuote.postedDate" name="postedDate" #postedDate="ngModel"  required>
        <div [hidden]="postedDate.valid || postedDate.prestine" class="alert alert-danger">
          <p>Date is required</p>

        </div>
          <!--Testing to see if we get data-->
           {{newQuote.postedDate}}
      </div>

      <button type="submit" class="btn btn-success">Add Quote</button>
    </form>

  </div>
</div>
